<?xml version="1.0"?>

<model>

  <name>chessBoard</name>
  <version>1.0</version>
  <sdf version="1.5">landmark.sdf</sdf>

  <author>
    <name>Alberto Ceballos</name>
    <email>alberto.ceballos-gonzalez@student.isae-supaero.fr</email>
  </author>

  <description>
    A chess board with calibration purposes
  </description>
  
</model>
